body {
  padding: 40vh 0;
  background-color:rgb(53, 162, 172);
}

.text {
  text-align: center;
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Roboto, Arial';
  margin: 0 5px;
}

.heart {
  animation: heartbeat 1s infinite;
  background-color: black;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute; 
  left: 45%; top: 45%;
  width: 50px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: black;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);    
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);  
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}